@charset "utf-8";

::selection {
  background: #ea6225;
  color: #000;
}
:root {
  --main-color: #ea6225;
}
:root {
  --main-bg-color: #f8f8f8;
}
:root {
  --sub-bg-color: #ffffff;
}
body {
  font-family: "NanumSquare", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
}
#wrap {
  overflow-x: hidden;
  position: relative;
  min-width: 375px;
  background: #ffffff;
}
.inner {
  max-width: 1620px;
  padding: 0 5%;
  margin: 0 auto;
}

a {
  cursor: pointer;
}

@media (max-width: 768px) {
  .inner {
    max-width: 355px;
    padding: 0 1%;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .inner {
    max-width: 680px;
    padding: 0 5%;
  }
}

/* 팝업 클릭시 스크롤 방지 */

body.modal-open {
  overflow: hidden;
}

/* popup_1 */

.popup {
  display: none;
}

.popup.active {
  display: block;
}

/* 배경 */
.popup .dim {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998 !important;
}

.popup .panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 300px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 999 !important;
}

/* 닫기 */
.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  color: #000000;
  background: none;
  border: none;
  line-height: 1;
}

.popup .content {
  margin-top: 25px;
}

.popup .content .title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 30px;
}

.popup .content p {
  font-size: 1.6rem;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 30px;
}

.popup .content .none {
  display: block;
}

.popup .content .app_download {
  display: inline-block;
  background: var(--main-color);
  color: var(--sub-bg-color);
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .popup .panel {
  width: 350px;
  height: 300px;
  padding: 20px;
}

.popup .content .none {
  display: none;
}
}

/* popup_2 */

.popup_2 {
  display: none;
}

.popup_2.active {
  display: block;
}

/* 배경 */
.popup_2 .dim {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998 !important;
}

.popup_2 .panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 300px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 999 !important;
}

/* 닫기 */
.popup_2 .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  color: #000000;
  background: none;
  border: none;
  line-height: 1;
}

.popup_2 .content {
  margin-top: 25px;
}

.popup_2 .content .title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 40px;
}

.popup_2 .content p {
  font-size: 1.6rem;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 40px;
}

.popup_2 .content .none {
  display: block;
}

.popup_2 .content .app_download {
  display: inline-block;
  background: var(--main-color);
  color: var(--sub-bg-color);
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .popup_2 .panel {
  width: 350px;
  height: 300px;
  padding: 20px;
}

.popup_2 .content .none {
  display: none;
}
}

/* popup_3 */

#popup_3 {
  display: none;
}

#popup_3.active {
  display: block;
}

/* 배경 */
#popup_3 .dim {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998 !important;
}

#popup_3 .panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 930px;
  height: 430px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 999 !important;
}

/* 닫기 */
#popup_3 .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  color: #000000;
  background: none;
  border: none;
  line-height: 1;
}

#popup_3 .content {
  margin-top: 25px;
}

#popup_3 .content .title {
  font-size: 2rem;
  font-weight: 900;
  color: #000000;
  margin-bottom: 40px;
  text-align: left;
  padding-left: 20px;
}

#popup_3 .content p {
  font-size: 1.6rem;
  color: #999999;
  line-height: 1.6;
  margin-top: 20px;
}

#popup_3 .content .none {
  display: block;
}

#popup_3 .TM {
  display: none;
}

@media (max-width: 768px) {
#popup_3 .panel {
  width: 350px;
  height: 800px;
  padding: 20px;
}

#popup_3 .close {
  font-size: 25px;
  line-height: 0.8;
}

#popup_3 .content .title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding-left: 0;
}

#popup_3 .content p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}

#popup_3 .content .none {
  display: none;
}

#popup_3 .PC {
  display: none;
}

#popup_3 .TM {
  display: block;
  margin: auto;
}
}

/* sitemap */

.sitemap {
  display: none;
}

@media (max-width: 768px) {
  .sitemap {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: #a4451a;
    width: 100vw;
    height: 100vh;
  }

  .sitemap .s_header {
    display: flex;
    margin: 0 auto;
    padding: 10px 8%;
    justify-content: space-between;
    align-items: center;
  }

  .sitemap .s_header .sitemap_close {
    cursor: pointer;
  }

  .sitemap .sitemap_gnb li {
    text-align: center;
    margin: 100px 0 60px 0;
  }

  .sitemap .sitemap_gnb li:nth-child(1) a {
    color: var(--sub-bg-color);
    font-size: 3rem;
    font-weight: 900;
  }

  .sitemap .sitemap_gnb li:nth-child(2) {
    background: var(--sub-bg-color);
    width: 170px;
    height: 50px;
    margin: 0 auto;
    border-radius: 15px;
    padding-top: 9px;
  }

  .sitemap .sitemap_gnb li:nth-child(2) a {
    background: var(--sub-bg-color);
    color: var(--main-color);
    font-size: 2.2rem;
    font-weight: 900;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .sitemap {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: #a4451a;
    width: 100%;
    height: 100vh;
  }

  .sitemap .s_header {
    display: flex;
    margin: 0 auto;
    padding: 10px 3%;
    justify-content: space-between;
    align-items: center;
  }

  .sitemap .s_header .sitemap_close {
    cursor: pointer;
  }

  .sitemap .sitemap_gnb li {
    text-align: center;
    margin: 100px 0 60px 0;
  }

  .sitemap .sitemap_gnb li:nth-child(1) a {
    color: var(--sub-bg-color);
    font-size: 3rem;
    font-weight: 900;
  }

  .sitemap .sitemap_gnb li:nth-child(2) {
    background: var(--sub-bg-color);
    width: 170px;
    height: 50px;
    margin: 0 auto;
    border-radius: 15px;
    padding-top: 9px;
    cursor: pointer;
  }

  .sitemap .sitemap_gnb li:nth-child(2) a {
    background: var(--sub-bg-color);
    color: var(--main-color);
    font-size: 2.2rem;
    font-weight: 900;
  }
}

/* header */

#header {
  padding: 16px 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  border-bottom: 0.2px solid #999999;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
}

#header .h_inner {
  max-width: 1820px;
  padding: 0 5%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

#header .h_inner h1 img {
  display: block;
  padding-top: 5px;
  width: 144px;
}

nav .gnb {
  display: flex;
  gap: 10px;
}

nav .gnb li {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background: var(--main-color);
  text-align: center;
  padding: 8px 0;
}

nav .gnb li:nth-child(2) {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  background: var(--sub-bg-color);
  border: 1px solid #ea6225;
  text-align: center;
  padding: 8px 0;
}

nav .gnb li a {
  font-size: 1.6rem;
  font-weight: 900;
  color: #ffffff;
}

nav .gnb li:nth-child(2) a {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--main-color);
}

#header .ham {
  display: none;
}

@media (max-width: 768px) {
  #header {
    height: 66px;
  }

  #header .h_inner {
    padding: 0 5%;
  }

  #header .h_inner h1 img {
    max-width: 144px;
    width: 70%;
    padding-bottom: 10px;
  }

  nav .gnb {
    display: none;
  }

  #header .ham {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  #header {
    height: 66px;
  }

  #header .h_inner {
    padding: 0 3%;
  }

  #header .h_inner h1 img {
    max-width: 144px;
    width: 70%;
    padding-bottom: 10px;
  }

  nav .gnb {
    display: none;
  }

  #header .ham {
    display: block;
    cursor: pointer;
  }
}

/* button */

.button_fix {
  display: none;
}

@media (max-width: 768px) {
  .button_fix {
    display: block;
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 2px;
    min-width: 350px;
    height: 55px;
    border-radius: 10px;
    color: var(--sub-bg-color);
    background: #A4451A;
    text-align: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin: 0 auto;
    padding-top: 15px;
  }

  .button_fix a {
    color: var(--sub-bg-color);
    font-size: 1.7rem;
    font-weight: 600;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .button_fix {
    display: block;
    z-index: 100;
    position: fixed;
    left: 50%;
    bottom: 2px;
    min-width: 580px;
    height: 55px;
    border-radius: 10px;
    color: var(--sub-bg-color);
    background: #A4451A;
    text-align: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin: 0 auto;
    padding-top: 15px;
  }

  .button_fix a {
    color: var(--sub-bg-color);
    font-size: 1.7rem;
    font-weight: 600;
  }
}

/* main_visual */

#main .main_visual {
  position: relative;
  background: linear-gradient(#FFD6BC,#FADBC9,#ffffff);
  height: 910px;
}

#main .main_visual .bg {
  position: absolute;
  right: 0;
  bottom: -7px;
  z-index: 9;
}

#main .main_visual .bg_T {
  display: none;
}

#main .main_visual .bg_M {
  display: none;
}

#main .main_visual .inner {
  padding: 220px 5% 0 5%;
}

#main .main_visual h2 {
  font-size: 5rem;
  font-weight: 900;
  color: #262626;
}

#main .main_visual p {
  font-size: 3rem;
  font-weight: 700;
  color: #262626;
  padding: 25px 0;
}

#main .main_visual .store {
  display: flex;
  gap: 15px;
  padding-bottom: 40px;
}

#main .main_visual .position {
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  #main .main_visual {
    background: linear-gradient(rgba(255, 214, 188, 1),rgba(250, 219, 201, 1),rgba(255, 255, 255, 1)), url("../images/mobile_01_bg.png") no-repeat center bottom;
    height: 1120px;
    padding-top: 80px;
    position: relative;
  }

  #main .main_visual .bg {
    display: none;
  }

  #main .main_visual .bg_T {
    display: none;
  }

#main .main_visual .bg_M {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #main .main_visual .inner {
    padding: 0;
  }

  #main .main_visual .inner .qr {
    display: none;
  }

  #main .main_visual h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    padding-top: 70px;
  }

  #main .main_visual p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 15px 0;
  }

  #main .main_visual .store {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  #main .main_visual {
    background: linear-gradient(rgba(255, 214, 188, 1),rgba(250, 219, 201, 1),rgba(255, 255, 255, 1)), url("../images/tablet_01_bg_.png") no-repeat center bottom;
    height: 1130px;
    padding-top: 150px;
    position: relative;
  }

  #main .main_visual .bg {
    display: none;
  }

#main .main_visual .bg_T {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    max-width: 100%;
  }

  #main .main_visual .bg_M {
    display: none;
  }

  #main .main_visual .inner {
    padding: 0;
  }

  #main .main_visual .inner div {
    transform: scale(75%);
    text-align: center;
  }

  #main .main_visual h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
  }

  #main .main_visual p {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 15px 0;
  }

  #main .main_visual .store {
    display: none;
  }
}

/* introduce */
.introduce {
  height: 600px;
}

.introduce .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
}

.introduce h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #000;
  padding-bottom: 30px;
}

.introduce h2 span {
  color: #ea6225;
}

.introduce p {
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .introduce {
    height: 500px;
    text-align: center;
  }

  .introduce .inner {
    display: block;
    padding-top: 70px;
  }

  .introduce h2 {
    font-size: 2.4rem;
    font-weight: 900;
    padding-bottom: 15px;
  }

  .introduce p {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .introduce img {
    width: 60vw;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .introduce {
    height: 600px;
    text-align: center;
  }

  .introduce .inner {
    display: block;
    padding-top: 70px;
  }

  .introduce h2 {
    font-size: 2.4rem;
    font-weight: 900;
    padding-bottom: 15px;
  }

  .introduce .top p {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .introduce img {
    width: 40vw;
  }
}

/* capture */

.capture {
  height: 800px;
  background: var(--main-bg-color);
}

.capture .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
}

.capture h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #000000;
  padding-bottom: 30px;
}

.capture h2 span {
  color: #ea6225;
}

.capture p {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 70px;
}

.capture .icon {
  display: flex;
  gap: 30px;
  align-items: center;
}

.capture .icon p {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;             
  margin: 0;
}

@media (max-width: 768px) {
  .capture {
    height: 100vh;
    text-align: center;
    position: relative;
  }

  .capture .inner {
    display: block;
    padding-top: 70px;
  }

  .capture .inner img:last-child {
    width: 50vw;
  }

  .capture h2 {
    font-size: 2.4rem;
    padding-bottom: 30px;
  }

  .capture p {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 40px;
  }

  .capture .icon {
    justify-content: center;
    height: 15vh;
  }

  .capture .icon img {
    width: 12vw;
}

  .capture .icon p span{
    display: none;
}
}

@media (min-width: 769px) and (max-width: 1400px) {
  .capture {
    height: 110vh;
    text-align: center;
    position: relative;
  }

  .capture .inner {
    display: block;
    padding-top: 70px;
  }

  .capture .inner img:last-child {
    width: 32vw;
  }

  .capture h2 {
    font-size: 2.4rem;
    padding-bottom: 30px;
  }

  .capture p {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 40px;
  }

  .capture .icon {
    justify-content: center;
    height: 15vh;
  }

  .capture .icon img {
    width: 6vw;
}

  .capture .icon p span{
    display: none;
}
}

/* offer */
.offer {
  height: 600px;
  background: var(--sub-bg-color);
}

.offer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.offer h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #000000;
  padding-bottom: 30px;
}

.offer h2 span {
  color: #ea6225;
}

.offer p {
  font-size: 2rem;
  font-weight: 400;
}

.offer .none {
  display: none;
}

@media (max-width: 768px) {
  .offer {
    height: 75vh;
    text-align: center;
    position: relative;
  }

  .offer .inner {
    display: block;
    padding-top: 70px;
  }

  .offer .inner img:last-child {
    width: 55vw;
  }

  .offer h2 {
    font-size: 2.4rem;
    padding-bottom: 30px;
  }

  .offer p {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 40px;
  }

  .offer .none {
  display: block;
}

  .offer .block {
  display: none;
}
}

@media (min-width: 769px) and (max-width: 1400px) {
  .offer {
    height: 80vh;
    text-align: center;
    position: relative;
  }

  .offer .inner {
    display: block;
    padding-top: 70px;
  }

  .offer .inner img:last-child {
    width: 35vw;
  }

  .offer h2 {
    font-size: 2.4rem;
    padding-bottom: 30px;
  }

  .offer p {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 40px;
  }

  .offer .none {
  display: block;
}

  .offer .block {
  display: none;
}
}

/* signal */
.signal {
  height: 800px;
  background: var(--main-bg-color);
}

.signal .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.signal .inner > div {
  transform: translateY(-60px);
}

.signal h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #000000;
  padding-bottom: 30px;
}

.signal p {
  font-size: 2rem;
  font-weight: 400;
}

.signal .button a {
  width: 380px;
  height: 60px;
  background: #ea6225;
  color: #ffffff;
  text-align: center;
  padding-top: 16px;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 20px;
  transform: translateY(-300px);
}

@media (max-width: 768px) {
  .signal {
    height: 100vh;
    text-align: center;
  }

  .signal .inner {
    display: block;
    padding-top: 135px;
  }

  .signal .inner div:nth-child(2) {
    margin: auto;
  }

  .signal img {
    width: 40vw;
  }

  .signal h2 {
    font-size: 2.4rem;
  }

  .signal p {
    font-size: 1.6rem;
    padding-bottom: 40px;
  }

  .signal .button {
    display: flex;
    width: 100vw;
    height: 20px;
    transform: translateY(280px);
    padding-top: 0;
}

.signal .button a {
    font-size: 1.6rem;
}

.signal .button {
  height: 20px;
}
}

@media (min-width: 769px) and (max-width: 1400px) {
  .signal {
    height: 130vh;
    text-align: center;
  }

  .signal .inner {
    display: block;
    padding-top: 135px;
  }

  .signal img {
    width: 30vw;
    transform: translateY(-50px);
  }

  .signal h2 {
    font-size: 2.4rem;
  }

  .signal p {
    font-size: 1.6rem;
    padding-bottom: 40px;
  }

  .signal .button {
    text-align: center;
  }

.signal .button a {
    display: inline-block;
    font-size: 1.6rem;
    width: 580px;
    height: 55px;
    transform: translateY(-140px);
}

.signal .button {
  height: 140px;
}
}

/* trading */
.trading {
  height: 900px;
  background: var(--sub-bg-color);
}

.trading .inner {
  text-align: center;
  padding-top: 100px;
}

.trading .inner > img {
  transform: scale(60%);
}

.trading h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #000;
  padding-bottom: 30px;
}

.trading .block {
  display: none;
}

.trading h2 span {
  color: #ea6225;
}

.trading p:nth-of-type(1) {
  font-size: 2rem;
  font-family: 900;
  padding-bottom: 50px;
  text-align: center;
}

.trading .c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trading .c_flex li {
  width: calc((100% - 30px) / 2);
  height: 250px;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
}

.trading .c_flex li img {
  padding: 0 0 15px 0;
}

.trading .c_flex .title_1 {
  font-size: 2.4rem;
  font-weight: 900;
  color: #CA0000;
  padding-bottom: 15px;
}

.trading .c_flex .sub_1 {
  font-size: 2rem;
  font-weight: 900;
  height: 80px;
  color: #ffffff;
  background: #CA0000;
  border-radius: 8px;
  padding-top: 9px;
}

.trading .c_flex .title_2 {
  font-size: 2.4rem;
  font-weight: 900;
  color: #0003CA;
  padding-bottom: 15px;
}

.trading .c_flex .sub_2 {
  font-size: 2rem;
  font-weight: 900;
  height: 80px;
  color: #ffffff;
  background: #0003CA;
  border-radius: 8px;
  padding-top: 9px;
}

@media (max-width: 768px) {
  .trading {
  height: 1050px;
}

.trading .inner {
  padding-top: 70px;
}

.trading h2 {
  font-size: 2.4rem;
}

.trading .none {
  display: none;
}

.trading .block {
  display: block;
}

.trading p:nth-of-type(1) {
  font-size: 1.6rem;
}

.trading .c_flex {
  display: block;
}

.trading .c_flex li {
  width: 100%;
  margin-bottom: 30px;
}

.trading .c_flex li img {
  width: 10vh;
}
}

@media (min-width: 769px) and (max-width: 1400px) {
  .trading {
  height: 1050px;
}

.trading .inner {
  padding-top: 70px;
}

.trading h2 {
  font-size: 2.4rem;
}

.trading .none {
  display: block;
}

.trading .block {
  display: none;
}

.trading p:nth-of-type(1) {
  font-size: 1.6rem;
}

.trading .c_flex {
  display: block;
}

.trading .c_flex li {
  width: 100%;
  margin-bottom: 30px;
}

.trading .c_flex li img {
  width: 10vh;
}
}

/* time */
.time {
  height: 1700px;
  background: var(--sub-bg-color);
}

.time .inner {
  text-align: center;
  padding-top: 100px;
}

.time .inner img:first-child {
  transform: scale(70%);
}

.time h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #000;
  padding-bottom: 35px;
}

.time h2 span {
  color: #ea6225;
}

.time a > span {
  color: var(--main-color);
  font-weight: 900;
  border-radius: 10px;
  background: #FED7C9;
  display: flex;
  width: 220px;
  height: 60px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.time .hour {
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bbbbbb;
  text-align: left;
  padding: 30px 0;
}

.time .hour_2 {
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  text-align: left;
}

.time .bold {
  font-size: 6rem;
  font-weight: 900;
}

.time .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
  background: #FDF0EA;
  width: 700px;
  height: 200px;
  border-radius: 20px;
  text-align: left;
  gap: 60px;
  transform: translateX(50%);
  margin: 60px 0;
}

.time .flex .bold {
  font-size: 3.8rem;
  font-weight: 900;
  border-right: 0.5px solid #999999;
  padding-right: 60px;
}

.time .flex span {
  color: var(--main-color);
}

.time .review_T {
  display: none;
}

.time .review_M {
  display: none;
}

@media (max-width: 768px) {
.time {
  height: 1800px;
}

.time .inner {
  padding-top: 70px;
}

.time h2 {
  font-size: 2.4rem;
}

.time a > span {
  color: #ffffff;
  background: var(--main-color);
  font-weight: 700;
  width: 180px;
  height: 50px;
  padding: 10px;
}

.time .hour {
  font-size: 1.8rem;
}

.time .hour_2 {
  font-size: 1.8rem;
}

.time .bold {
  font-size: 2.6rem;
}

.time .flex {
  display: block;
  font-size: 2rem;
  width: 100%;
  height: auto;
  padding: 20px 0;
  border-radius: 20px;
  text-align: center;
  transform: translateX(0);
  line-height: 1.6;
}

.time .flex .bold {
  font-size: 2.8rem;
  border-right: 0;
  border-bottom: 0.5px solid #999999;
  padding-right: 0;
  padding-bottom: 20px;
}

.time .flex .b {
  margin-top: 40px;
}

.time .review_P {
  display: none;
}

.time .review_T {
  display: none;
}

.time .review_M {
  display: block;
}
}

@media (min-width: 769px) and (max-width: 1400px) {
  .time {
  height: 1450px;
}

.time .inner {
  padding-top: 70px;
}

.time h2 {
  font-size: 2.4rem;
}

.time a > span {
  color: #ffffff;
  background: var(--main-color);
  font-weight: 700;
  width: 180px;
  height: 50px;
  padding: 10px;
}

.time .hour {
  font-size: 1.8rem;
}

.time .hour_2 {
  font-size: 1.8rem;
}

.time .bold {
  font-size: 2.6rem;
}

.time .flex {
  display: block;
  font-size: 2rem;
  width: 100%;
  height: auto;
  padding: 20px 0;
  border-radius: 20px;
  text-align: center;
  transform: translateX(0);
  line-height: 1.6;
}

.time .flex .bold {
  font-size: 2.8rem;
  border-right: 0;
  border-bottom: 0.5px solid #999999;
  padding-right: 0;
  padding-bottom: 20px;
}

.time .flex .b {
  margin-top: 40px;
}

.time .review_P {
  display: none;
}

.time .review_T {
  display: block;
  margin: auto;
}

.time .review_M {
  display: none;
}
}

/* yield */
.yield {
  position: relative;
  height: 840px;
  background: linear-gradient(#FDF0EA,#ffffff);
}

.yield .inner {
  text-align: center;
  padding-top: 100px;
}

.yield .inner > img {
  transform: scale(60%);
}

.yield h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #000;
  padding-bottom: 30px;
}

.yield h2 span {
  color: #ea6225;
}

.yield p:nth-of-type(1) {
  font-size: 2rem;
  font-family: 900;
  padding-bottom: 50px;
  text-align: center;
}

.yield .none {
  display: block;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.swiper-slide:first-child {
  background: #FFE1D3;
}

.swiper-slide:first-child .value {
  color: var(--main-color); 
}

.swiper-slide {
  border-radius: 10px;
  background: #eeeeee;
  padding: 20px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  width: 260px !important;
  height: 202px !important;
  margin-right: 0 !important;
}

.swiper-slide .title {
  color: #000;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
}

.swiper-slide .sub {
  color: #000;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

.swiper-slide .value {
  color: #CA0000;
  text-align: right;
  font-size: 4rem;
  font-weight: 900;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 2rem !important;
}

.swiper-button-next {
  color: #21272A !important;
  background: #F0F0F0 !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 40px !important;
  position:absolute;
  left: 0;
  top:50%;
}

.swiper-button-prev {
  color: #21272A !important;
  background: #F0F0F0 !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 40px !important;
  position:absolute;
  right: 0;
  top:50%;
}

@media (max-width: 768px) {
  .yield {
  height: 650px;
}

.yield .inner {
  padding-top: 70px;
}

.yield h2 {
  font-size: 2.4rem;
}

.yield p:nth-of-type(1) {
  font-size: 1.6rem;
  padding-bottom: 40px;
}

.yield .none {
  display: none;
}

.swiper-wrapper {
  gap: 16px;
}

.swiper-slide {
  width: 200px !important;
  height: 180px !important;
}

.swiper-slide .title {
  font-size: 1.8rem;
  line-height: 1.5;
}

.swiper-slide .sub {
  font-size: 1.5rem;
  display: block;
}

.swiper-slide .value {
  font-size: 3rem;
}
}

@media (min-width: 769px) and (max-width: 1400px) {
.yield {
  height: 650px;
}

.yield .inner {
  padding-top: 70px;
}

.yield h2 {
  font-size: 2.4rem;
}

.yield p:nth-of-type(1) {
  font-size: 1.6rem;
  padding-bottom: 40px;
}

.yield .none {
  display: block;
}

.swiper-wrapper {
  gap: 16px;
}

.swiper-slide {
  width: 200px !important;
  height: 180px !important;
}

.swiper-slide .title {
  font-size: 1.8rem;
  line-height: 1.5;
}

.swiper-slide .sub {
  font-size: 1.5rem;
  display: block;
}

.swiper-slide .value {
  font-size: 3rem;
}
}

/* trust */
.trust {
  /* height: 1450px; */
  background: #ffffff;
  position: relative;
}

.trust h2 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  color: #000000;
  padding-top: 100px;
  padding-bottom: 30px;
  line-height: 1.6;
}

.trust h2 > span {
  color: #ea6225;
}

.trust .inner > img {
  transform: scale(60%);
  display: block;
  margin: 0 auto;
}

.trust .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.trust .item_1 {
  text-align: center;
  width: calc((100% - 30px)/2);
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.trust .item_1 h3 {
  font-size: 2.4rem;
  font-weight: 900;
  color: #333333;
  padding: 10px 0;
}

.trust .item_1 p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #555555;
}

.trust .item_2 {
  text-align: center;
  width: calc((100% - 30px)/2);
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  padding: 30px 30px 60px 30px;
}

.trust .item_2 h3 {
  font-size: 2.4rem;
  font-weight: 900;
  color: #333333;
  padding: 10px 0;
}

.trust .item_2 p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #555555;
}

.trust .button {
  margin: 75px auto;
  background: var(--main-color);
  width: 300px;
  height: 60px;
  border-radius: 20px;
  padding: 15px 30px;
  text-align: center;
}

.trust .button a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}

.trust .dropdown_wrap {
  padding-top: 5%;
  padding-bottom: 10%;
}

.trust .dropdown {
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.trust .dropdown div {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  border-bottom: 1px solid #e0e0e0;
}

.trust .dropdown .chevron {
  transition: transform 0.3s;
  width: 24px;
  height: 15px;
  margin: auto 0;
}
.trust .dropdown .chevron.active {
  transform: rotate(180deg);
}

.trust .dropdown div p {
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
}

.trust .dropdown .price_box {
  display: block;
}

.trust .dropdown .txt {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 500;
  background: #f8f8f8;
  padding: 25px 35px;
  border-bottom: 1px solid #e0e0e0;
}

.trust .dropdown .txt2 {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 500;
  background: #f8f8f8;
  /* padding: 25px 35px; */
  /* border-bottom: 1px solid #e0e0e0; */
}

.trust .dropdown table {
  width: 95%;
  margin: 30px auto;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.trust .dropdown table tr {
  border-bottom: 1px solid #e0e0e0;
}

.trust .dropdown table tr:first-child {
  font-size: 1.8rem;
  font-weight: 600;
  background: #ededed;
}

.trust .dropdown table tr:last-child {
  background: #ffffff;
}

.trust .dropdown table td {
  border-right: 1px solid #e0e0e0;
  padding: 20px 80px;
}

@media (max-width: 768px) {
  .trust {
    position: relative;
  }

  .trust h2 {
  font-size: 2.4rem;
  padding-top: 70px;
  padding-bottom: 20px;
}

.trust .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.trust .item_1 {
  width: 100%;
  padding: 25px;
}

.trust .item_1 h3 {
  font-size: 2rem;
  padding: 15px 0;
}

.trust .item_1 p {
  font-size: 1.6rem;
}

.trust .item_1 img {
  width: 25vw;
}

.trust .item_2 {
  width: 100%;
  padding: 25px;
}

.trust .item_2 h3 {
  font-size: 2rem;
  padding: 15px 0;
}

.trust .item_2 p {
  font-size: 1.6rem;
}

.trust .item_2 img {
  width: 25vw;
}

.trust .button {
  margin: 40px auto;
  width: 220px;
  height: 48px;
  border-radius: 15px;
  padding: 12px 0;
}

.trust .button a {
  font-size: 1.6rem;
}

  .trust .dropdown div {
    padding: 15px 35px;
    align-items: center;
  }

  .trust .dropdown div p {
    font-size: 1.4rem;
  }

  .trust .dropdown .txt {
    font-size: 1.2rem;
  }

  .trust .dropdown .txt2 {
    font-size: 1.2rem;
  }

  .trust .dropdown table {
    width: 100%;
    margin: 30px auto;
  }

  .trust .dropdown table td {
    padding: 20px 20px;
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .trust {
    position: relative;
  }

  .trust h2 {
  font-size: 2.4rem;
  padding-top: 70px;
  padding-bottom: 20px;
}

.trust .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.trust .item_1 {
  width: 100%;
  padding: 25px;
}

.trust .item_1 h3 {
  font-size: 2rem;
  padding: 15px 0;
}

.trust .item_1 p {
  font-size: 1.6rem;
}

.trust .item_1 img {
  width: 15vw;
}

.trust .item_2 {
  width: 100%;
  padding: 25px;
}

.trust .item_2 h3 {
  font-size: 2rem;
  padding: 15px 0;
}

.trust .item_2 p {
  font-size: 1.6rem;
}

.trust .item_2 img {
  width: 15vw;
}

.trust .button {
  margin: 40px auto;
  width: 220px;
  height: 48px;
  border-radius: 15px;
  padding: 12px 0;
}

.trust .button a {
  font-size: 1.6rem;
}

  .trust .dropdown div p {
    font-size: 1.8rem;
  }

  .trust .dropdown .txt {
    font-size: 1.4rem;
  }

  .trust .dropdown .txt2 {
    font-size: 1.4rem;
  }

  .trust .dropdown table {
    width: 100%;
    margin: 30px auto;
  }

  .trust .dropdown table td {
    padding: 20px 20px;
    font-size: 1.4rem;
  }
}

/* footer */

#footer {
  height: 430px;
  background: #1c1e21;
  color: #777777;
  font-size: 1.6rem;
  font-weight: 500;
}

#footer .inner {
  padding-top: 50px;
}

#footer .inner div:nth-child(2) {
  margin-bottom: 5px;
}

#footer .footer_logo {
  padding-bottom: 30px;
}

#footer address {
  text-align: right;
  float: right;
  transform: translateY(-15px);
}

#footer .bold {
  color: #ffffff;
  padding-right: 20px;
}

#footer .bold_2 {
  color: #ffffff;
  padding-right: 35px;
}

#footer .copy {
  margin: 40px 0 30px 0;
}

#footer .button > a {
  font-weight: 600;
}

#footer .empty {
  padding: 20px 0;
}

@media (max-width: 768px) {
  #footer {
    height: 700px;
    font-size: 1.3rem;
  }

  #footer .footer_logo img {
    transform: scale(80%) translateX(-30px);
  }

  #footer address {
    text-align: left;
    float: none;
    transform: translateY(0);
    margin-top: 25px;
  }

  #footer .copy {
    margin: 25px 0 30px 0;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  #footer {
    height: 1000px;
  }

  #footer .footer_logo img {
    transform: scale(80%) translateX(-30px);
  }

  #footer address {
    text-align: left;
    float: none;
    transform: translateY(0);
    margin-top: 25px;
  }

  #footer .copy {
    margin: 25px 0 30px 0;
  }
}
